# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files
*.tfvars
*.tfvars.json

# Sensitive files
*.pem
*.key

# Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db